<!-- wp:template-part {"slug":"header","theme":"theofficesupplyoutlet","className":"sticky-nav"} /-->
<!-- wp:ourblocktheme/headingslider /-->

<!-- wp:columns {"className":"product-catalog-search-container"} -->
<div class="wp-block-columns product-catalog-search-container"><!-- wp:column -->
    <div class="wp-block-column">
        <!-- wp:search {"label":"","placeholder":"Search products…","buttonText":"Search","query":{"post_type":"product"},"align":"right"} /-->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"className":"product-grid-container"} -->
    <div class="wp-block-column product-grid-container">
        <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
        <div class="wp-block-group"><!-- wp:woocommerce/legacy-template {"template":"archive-product"} /--></div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"theofficesupplyoutlet","tagName":"footer"} /-->