<!-- wp:template-part {"slug":"header","theme":"theofficesupplyoutlet", "className":"sticky-nav"} /-->
<!-- wp:ourblocktheme/headingslider /-->

<!-- wp:columns {"style":{"border":{"radius":"0px"},"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"className":"front-page-three-text-detail"} -->
<div class="wp-block-columns front-page-three-text-detail"
    style="border-radius:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column -->
    <div class="wp-block-column">
        <!-- wp:paragraph {"align":"center","style":{"color":{"text":"#cc0202"},"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
        <p class="has-text-align-center has-text-color"
            style="color:#cc0202;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><strong>Free next-business-day shipping on qualifying $95 order</strong></p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"className":"home-text-line"} -->
    <div class="wp-block-column home-text-line">
        <!-- wp:paragraph {"align":"center","style":{"color":{"text":"#cc0202"},"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
        <p class="has-text-align-center has-text-color"
            style="color:#cc0202;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><strong>Free store or curbside pickup in 20 minutes</strong></p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"style":{"color":{"text":"#cc0202"}},"className":"home-text-line"} -->
    <div class="wp-block-column home-text-line has-text-color" style="color:#cc0202">
        <!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
        <p class="has-text-align-center" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <strong>No order minimum required</strong>
        </p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:pattern {"slug":"the-office-supply-outlet/three-highlights"} /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"className":"product-category-heading-container"} -->
    <div class="wp-block-column product-category-heading-container"><!-- wp:heading {"textAlign":"center"} -->
        <h2 class="wp-block-heading has-text-align-center">Featured Items</h2>
        <!-- /wp:heading -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"className":"featured-items-container"} -->
    <div class="wp-block-column featured-items-container">
        <!-- wp:woocommerce/handpicked-products {"products":[31,27,21]} /--></div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"className":"product-category-heading-container"} -->
    <div class="wp-block-column product-category-heading-container"><!-- wp:heading {"textAlign":"center"} -->
        <h2 class="wp-block-heading has-text-align-center">Newest Products</h2>
        <!-- /wp:heading -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"className":"featured-items-container"} -->
    <div class="wp-block-column featured-items-container"><!-- wp:woocommerce/product-new /--></div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:pattern {"slug":"the-office-supply-outlet/products-by-category"} /-->

<!-- wp:template-part {"slug":"footer","theme":"theofficesupplyoutlet","tagName":"footer"} /-->