<!-- wp:template-part {"slug":"header","theme":"theofficesupplyoutlet", "className":"sticky-nav"} /-->
<!-- wp:ourblocktheme/headingslider /-->

<!-- wp:columns {"className":"blog-heading-container"} -->
<div class="wp-block-columns blog-heading-container"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"textAlign":"center"} -->
        <h2 class="wp-block-heading has-text-align-center">Our Recent News & Ideas Blog Posts</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center"} -->
        <p class="has-text-align-center">Be sure to check out our latest blog posts for ideas on how to deck out your office.</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"350px","className":"blog-search-form-container"} -->
    <div class="wp-block-column blog-search-form-container" style="flex-basis:350px">
        <!-- wp:search {"label":"","placeholder":"Search Blog Posts...","buttonText":"Search"} /--></div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:pattern {"slug":"the-office-supply-outlet/post-listing"} /-->

<!-- wp:template-part {"slug":"footer","theme":"theofficesupplyoutlet","tagName":"footer"} /-->