<!-- wp:template-part {"slug":"header","theme":"theofficesupplyoutlet", "className":"sticky-nav"} /-->
<!-- wp:ourblocktheme/headingslider /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:column {"className":"text-heading-container"} -->
    <div class="wp-block-column text-heading-container"><!-- wp:post-title /-->

        <!-- wp:post-content /-->
    </div>
    <!-- /wp:column -->

    <!-- wp:pattern {"slug":"the-office-supply-outlet/contact-us-icons"} /-->
    <!-- wp:ourblocktheme/contactusform /-->

    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"className":"contact-us-bottom-text-container"} -->
        <div class="wp-block-column contact-us-bottom-text-container"><!-- wp:heading {"textAlign":"center"} -->
            <h2 class="wp-block-heading has-text-align-center">Didn't Find What You Were Looking For?</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"align":"center"} -->
            <p class="has-text-align-center">Be sure to check out our <a href="http://the-office-supply-outlet.local/faq/"
                    data-type="page" data-id="71">FAQ section</a> for frequently Asked Questions.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"theofficesupplyoutlet","tagName":"footer"} /-->