<!-- wp:template-part {"slug":"header","theme":"theofficesupplyoutlet", "className":"sticky-nav"} /-->
<!-- wp:ourblocktheme/headingslider /-->

<!-- wp:column {"className":"text-heading-container"} -->
<div class="wp-block-column text-heading-container"><!-- wp:heading {"textAlign":"center"} -->
    <h2 class="wp-block-heading has-text-align-center">FAQs</h2>
    <!-- /wp:heading -->
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Check below for our most frequently asked questions and answers.</p>
    <!-- /wp:paragraph -->
</div>
<!-- /wp:column -->

<!-- wp:ourblocktheme/faqlist /-->

<!-- wp:template-part {"slug":"footer","theme":"theofficesupplyoutlet","tagName":"footer"} /-->