<!-- wp:template-part {"slug":"header","theme":"theofficesupplyoutlet", "className":"sticky-nav"} /-->
<!-- wp:ourblocktheme/headingslider /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"className":"single-product-grid-container"} -->
    <div class="wp-block-column single-product-grid-container">
        <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
        <div class="wp-block-group"><!-- wp:woocommerce/legacy-template {"template":"single-product"} /--></div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"theofficesupplyoutlet","tagName":"footer"} /-->
